<launch>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find roombarobotvacuumcleaner)/environment/env.world"/>
    </include>
    <arg name = "record_flag" default= "false" />

    <node
        pkg="roombarobotvacuumcleaner"
        name="roombaRobot"
        type="roombaRobot"
        output="screen"
    />

    <node
        pkg= "rosbag"
        name="record"
        type="record"
        args="-a -x /camera/(.*) -O $(find roombarobotvacuumcleaner)/results/roombatopics.bag"
        if="$(eval record_flag == true)"/>

</launch>




