<launch>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find roombarobotvacuumcleaner)/environment/env.world"/>
    </include>
    <arg name = "rosbagEnable" default= "false" />

    <node
        pkg="roombarobotvacuumcleaner"
        name="roombaRobot"
        type="roombaRobot"
        output="screen"
    />


</launch>




